.borderCh {
	border: 0;
	outline: 0;
	text-align: center;
	background: transparent;
	border-bottom: 1px solid black;
	width: 335px;
	display: inline-block;
	float: left;
}
.borderCh2 {
	border: 0;
	outline: 0;
	text-align: center;
	background: transparent;
	border-bottom: 1px solid black;
	display: inline-block;
	float: left;
}
.row {
	float: left;
	text-align: left;
	text-transform: none;
}
#charNameInp {
	margin-right: 2px;
	display: inline-block;
	padding-right: 10px;
}
#charClassInp {
	margin-right: 2px;
	display: inline-block;
	padding-right: 20px;
}
#charAlignInp {
	margin-right: 2px;
	display: inline-block;
	padding-left: 10px;
}
.squareBox {
	width: 40px;
	height: 23px;
	text-align: center;
	display: inline-block;
}
.blackBox {
	background:black;
	width:90px;
	height:40px;
	margin:0 auto;
}
input {
	text-align: center;
}
.headCl {
	transform: rotate(-90deg);
    padding: 0px;
    margin: 0px;
}
.tableCellAbility {
	border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-family: verdana;
    text-align: center;
    font-size: 13px;
    padding-bottom: 15px;
    padding-top: 6px;
    vertical-align: middle;
}
.vertical {
    white-space: nowrap;
	color: white;
    background-color: black;
}
th.rotate {
	height: 80px;
	white-space: nowrap;
    text-align: center;
}
th.rotate > div {
	transform:
    	translate(2px, 25px)
    	rotate(-90deg);
	width: 18px;
}
th.rotate > div > span {
    vertical-align: bottom;
    margin-bottom: -25px;
}
div.abilityInputColumn {
	display: inline-block;
}
table#abilities-body tr td > div.key-ab {
	text-align: center;
	width: 80px;
}
table#abilities-body tr td > div.mod-ab {
	text-align: center;
	width: 45px;
}
.pad {
	padding-right:15px;
}
.tb {
    display: table;
}
.tbr {
	display: table-row;
}
.tbr > * {
	vertical-align: middle;
}
.tbc {
	display: table-cell;
    text-align: center;
    width: 80px;
}
.tbc > input {
	width:50px;
    height: 30px;
    text-align: center;
    margin-left: 8px;
}
.tbc > label {
	margin-left: 5px;
    margin-right: -10px;
}
.tbch {
	background-color: black;
    color: white;
    width:145px;
    height:50px;
}
.tbch > div {
	font-family: verdana;
    text-transform: uppercase;
}
.tbh {
	text-transform: uppercase;
    font-family: verdana;
    font-size: 10px;
}
.tbhs {
	font-size: 17px;
    font-weight: bold;
}
div.tb {
	transform: translate(0px, -1050px);
}
.txta > textarea {
	font-family: verdana;
	text-transform: uppercase;
	transform: translate(630px, -1233px);
	resize: none;
}
.inline {
	display:inline-block;
}
.blackBox2 > div {
	background-color: black;
	color: white;
	font-family: verdana;
	font-size: 22px;
	text-transform: uppercase;
	width: 340px;
	text-align: center;
	font-weight: bold;
	padding: 6px;
}
.squareIn {
	width: 51px;
	height: 25px;
	text-align: center;
	font-family: verdana;
}
.cont > * {
	vertical-align: middle;
}
.vlm > * {
	vertical-align: middle;
}
.blackBox3 {
	background-color: black;
	color: white;
	font-family: verdana;
	font-size: 18px;
	text-transform: uppercase;
	width: 180px;
	text-align: center;
	font-weight: bold;
	padding: 3px;
}
.blackBox4 {
	background-color: black;
	color: white;
	font-family: verdana;
	font-size: 14px;
	text-transform: uppercase;
	width: 180px;
	text-align: center;
	padding: 3px;
}